/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
}

h2 {
  font-size: 46px;
  font-weight: 400;
  margin: 0 10px 15px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vstack-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  flex: 1;
  margin: 15px;
}

.item-double {
  flex: 2;
}

.form-pair {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 20px 20px 10px 20px;
  
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 118px;
  color: #ecdbc9;
  text-align: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
  padding: 0 30px 0 0;
}

header nav ul li:last-child {
  text-decoration: none;
  padding: 0px;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}



/* -------  Join Form ------- */
form {
  border: 3px solid #6b1a22;

}

form label {
  font-weight: bolder;
  font-size: 28px;
}

form select,
form input {
  margin-bottom: 20px;
  width: 60%;
  max-width: 500px;
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 40px;
  padding: 25px 20px 25px 20px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 800px) {
  .logo {
    font-size: 48px;
    text-align: left;
  }

  header {
    margin: 0px;
    padding: 0px;
    text-align: start;
  }

  header nav ul {
    justify-content: flex-end;
  }

  .group {
    flex-direction: row;
  }

}